# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/


# Project specific
downloads/
auth.json
logs/
profiles/

# Env files
.env
.env.*
!.env.example

# Python tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.nox/
.tox/
.coverage
coverage.xml
htmlcov/
*.egg-info/
pip-wheel-metadata/
profiles/

# Build artifacts
build/
dist/
*.spec
*.whl
*.exe
*.msi

# Logs and temp files
*.log
*.tmp

# System
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.idea/
.vscode/
